body{
    margin: 0px;
    padding: 0px;
    /* background-image: url(../../public/bgimg1.jpg); */
}
.newContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.newdiv1{
    height: 60vh;
    width: 60vw;
    backdrop-filter: brightness(80%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.newbutton{
    width: 15vw;
    padding: 10px;
}